// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$default-font-size: 1.1em;
$big-font-size: 1.2em;
$medium-font-size: 1em;
$small-font-size: 0.9em;


$bg-color:#ddd;
$bg-color-elements:#f3f3f3;
$submenu-color:#CCCCCC;


$letter-color:#7C7C7C;

/*
%big{
	font-size: 2em;
}
@extend %big;
*/
*{
	box-sizing: border-box !important;
}

a{text-decoration:none;cursor: pointer;}

li{ list-style:none; }

body{ background-color:$bg-color !important; }

h1,h2,h3,h4,h5{ margin-bottom: 0; }

.navbar{
	margin-bottom: 0;
}

.category-div{
	padding:0;
}



%submenu{
	@extend %hard-shadowed;
	width: 100%;
	border-top: 1px black solid;
	background-color: $submenu-color;
	margin-bottom: 20px;
	li{
		a{
			padding: 10px;
		}
		&:hover a{
			border-bottom: 3px solid #444;
			background-color: #999 !important;
			padding-bottom: 7px;
		}
	}
}

.category-list,.nav-pills{
	@extend %submenu;
}

.search{
	position:relative;
	top:-30%;
}


%post-footer{
	display: inline;
	position: relative;
	right:43px;
	font-size: $medium-font-size;
	border-right: #444 solid 1px;
	padding: 0 4px;
	&:last-child{
		border-right: none;
	}	
}

.footer-info li{
	@extend %post-footer;
}

.preview{
	width:90%;
	height:90%;
	margin:25px;
}

.posts-list>li{
	@extend %soft-shadowed;

	font-size: $default-font-size;
	background-color: rgba(255, 255, 255, 0.6);	
	padding:15px;
	margin-bottom:2px;
	height:100%;
	position: relative;
	img{
		width:90%;
		height:90%;
		margin:25px;		
	}
	.social-info{
		position: absolute;
		right: 0;
		bottom: 0;
		margin:0 10px 10px 0;
		li{
			display: inline;
			padding: 0 9px;
		}
	}
}

.header-buttons{
	margin-right: 3% !important;
}

%soft-shadowed{
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);			
}

%hard-shadowed{
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}




.sign-in{
	@extend %hard-shadowed;
	position:absolute;
	z-index:1000;
	display:none;
	background-color: $bg-color;
	border-radius:15px;
	padding-bottom:10px;
	text-align: center;
	right: 0;
	padding-left: 10 !important;
	padding: 20px 10px;
	input{
		background-color: $bg-color;
	}
	#signinbtn{
		width: 100%;
	}
	a:hover{
		text-decoration: none;
		color:black;
		background-color: $bg-color;
		font-weight: 600;
	}
	
}



#sign-in-option:hover .sign-in{
	display:block;
}

.nav-list li:hover a{
	color:black !important;
}

.fa:hover{
	color:black;
}

#search-textbox{
	margin-top:8px;
}




// FOOTER STYLES

footer {
	@extend %soft-shadowed;
	background-color: $bg-color-elements;
	width:100%;
	height:60px;
	text-align:center;

 	clear: both;
    position: relative;
    z-index: 10;
    margin-top:10px;

	p{
		color:$letter-color;
		font-size:1.4em;
		position:relative;
		top:35%;
		&:hover{
			color:black;
		}	
	}
}



// SIGN UP FORM
.sign_up_form{
	@extend %soft-shadowed;
}


.manage-post-buttons{
	position: absolute;
	right: 0;
	top:0;
	margin-right: 20px;
	margin-top: 20px;
	li{
		display: inline-block;
		padding: 10px 10px;
	}
}


.users-list{
	text-align: center;
	.user-element{
		cursor: pointer;
		@extend %hard-shadowed;
		padding: 25px;
		margin: 10px;
		background-color: $submenu-color;
		display: inline-block;
	}
}

.superuser{
	position: absolute;
	right: 0;
	top: 0;
}

.blue{
	background-color: blue !important;
}